.imageContainer {
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #801AB2 0%, #4C4CFF 100%);
  border-radius: 50%;
}

.imageBorder {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #232328;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  overflow: hidden;
}

.image {
  height: 90%;
  width: auto;
  object-fit: contain;
}

.adds {
  position: absolute;
  left: 50%;
  left: 30%;
  z-index: 9;
}
