.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  --scrollbar-color-thumb: #8585AD;
  --scrollbar-color-track: #2F2F37;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: #8585AD #2F2F37; 
  scrollbar-width: thin; 
  scrollbar-gutter: stable;
}

.listItem {
  display: flex;
  align-items: center;
}

.itemContainer {
  width: 536px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2F37;
  border: 3px solid transparent;
}

.bunTop {
  border-radius: 70px 70px 40px 40px;
}

.bunBottom {
  border-radius: 40px 40px 70px 70px;
}

.filling {
  border-radius: 40px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.text {
  margin: 0 auto;
}

.onHover {
  border: 3px #4C4CFF dashed;
}
