.container {
  width: 536px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2F37;
  border: 3px solid transparent;
}

.top {
  border-radius: 70px 70px 40px 40px;
}

.bottom {
  border-radius: 40px 40px 70px 70px;
}

.middle {
  border-radius: 40px;
}

.onHover {
  border: 3px #4C4CFF dashed;
}

.text {
  margin: 0 auto;
}