.columns {
  display: flex;
  justify-content: space-between;
}

.columnWrapper {
  width: 48%;
}

.title {
  padding: 0;
}

.authContainer {
  width: 480px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: flex;
  gap: 14px;
}

.profileContainer {
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  gap: 60px;
}

.profileNav {
  width: 28%;
}

.profileLink {
  color: #8585AD;
  display: block;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.3s ease;
}

.activeLink {
  color: #fff;
}

.profileLink:hover {
  color: #d3d3df;
}

.buttonExit{
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.buttonExit:hover {
  color: #d3d3df;
}

.ordersNumbers {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  max-height: 340px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}

.orderNumber {
  width: 30%;
}

.feedHeight {
  height: 800px;
}

.ingredientsHeight {
  height: 100vh;
}

.activeColor {
  color: #00CCCC
}

.shadow {
  text-shadow: 0 0 32px rgb(51, 51, 255);
}
