.item {
  width: 536px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2F37;
}

.shapeMid {
  border-radius: 40px;
}

.shapeTop {
  border-radius: 70px 70px 40px 40px;
}

.shapeBottom {
  border-radius: 40px 40px 70px 70px;
}

.subBlock {
  display: flex;
  align-items: center;
}

.image {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.name {
  width: 220px;
  height: 48px;
  cursor: pointer;
}
