.item {
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  width: 536px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2F37;
  border: 3px solid transparent;
}

.details {
  display: flex;
  align-items: center;
}

.controls {
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.name {
  width: 220px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.top {
  border-radius: 70px 70px 40px 40px;
}

.bottom {
  border-radius: 40px 40px 70px 70px;
}

.middle {
  border-radius: 40px;
}

.onHover {
  border: 3px #4C4CFF dashed;
}