.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 1240px;
  height: 88px;
}

.group {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navItem {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .header {
    max-width: 90%;
  }   
}

@media screen and (max-width: 650px) {
  .header {
    max-width: 70%;
  }   
}

@media screen and (max-width: 515px) {
  .header {
    max-width: 100%;
  }   
}