.header {
  background-color: #1C1C21;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1240px;
  height: 88px;
}

.orders {
  grid-column: 2 / 7;
  
}

.logo {
  grid-column: 2 / 7;
  justify-self: center;
}

.login {
  grid-column: 2 / 8;
  justify-self: end;
}

.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navItem {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #8585AD;
}

.navItem svg {
  transition: fill 0.3s ease;
}

.navItem:hover svg {
  fill: #8585AD;
}
/* 
@media (max-width: 1000px) {
  .container {
    padding-top: 40px;
    height: auto;
  }

  .nav { 
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
} */