.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border-bottom: 1px solid #2F2F37;
  cursor: pointer;
}

.navItem:hover {
  color: #F2F2F3;
  border-bottom: 2px solid #4C4CFF;
}

.navItem_active {
  border-bottom: 2px solid #4C4CFF;
}

.content {
  --scrollbar-color-thumb: #8585AD;
  --scrollbar-color-track: #2F2F37;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: #8585AD #2F2F37; 
  scrollbar-width: thin; 
  scrollbar-gutter: stable;  
}

/*

Modern browsers with `scrollbar-*` support 
@supports (scrollbar-width: auto) {
  .container {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
      scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support
@supports selector(::-webkit-scrollbar) {
  .container::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-thumb);
  }
  .container::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
  }
  .container::-webkit-scrollbar {
      max-width: var(--scrollbar-width-legacy);
      max-height: var(--scrollbar-width-legacy);
  }
}

.container:hover {
  --fix: ;
}*/

